.map { 
	/*float: left; */
	/*max-width: 50%; */
	/*max-height: 95vh; */
	/*height: 95vh;*/
} 

body{
	background:#3e4147;
	/*margin-top:50px;*/
	font: 15px "Trebuchet MS";
	color:#c0c0c0;

}


#map_div{
    width:24%;
    height:97vh;
    /*border:1px solid red;*/
    /*margin-right:10px;*/
    float:left;
}

#text_div, #barchart_div, #heatmap_div{
    width:75%;
    height:32vh;
    /*border:1px solid red;*/
    font-size: calc(3vw + 3vh);
    float:left;
}

.headline, .subline{
  display: block;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  fill: white;
  font-family: 'PT Sans',sans-serif;
  opacity: 0.5;
}

.headline{
  /*font-size: 4em;*/
  /*font-size: 4vw;*/
  
  font-weight: bold;
}

.subline{
  font-size: 50%;
  font-weight: thin;
}

.label{
  font-family: 'PT Sans',sans-serif;
  opacity: 1;
  font-size: 30%;
}